  # Interactive Dashboard for Retail Sales Analysis

In [ ]:
## Data received from operations is loaded to pandas, cleaned(prepared) and profiled. Connected to MySQL to model data post preparation.

In [1]:
pip install sqlalchemy pandas

Requirement already satisfied: sqlalchemy in c:\users\rayon\anaconda3\lib\site-packages (2.0.41)
Requirement already satisfied: pandas in c:\users\rayon\anaconda3\lib\site-packages (2.3.0)
Requirement already satisfied: greenlet>=1 in c:\users\rayon\anaconda3\lib\site-packages (from sqlalchemy) (1.1.1)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\rayon\anaconda3\lib\site-packages (from sqlalchemy) (4.14.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\rayon\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.22.4 in c:\users\rayon\anaconda3\lib\site-packages (from pandas) (1.22.4)
Requirement already satisfied: pytz>=2020.1 in c:\users\rayon\anaconda3\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: tzdata>=2022.7 in c:\users\rayon\anaconda3\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\rayon\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [4]:
pip install --upgrade pymysql

Requirement already satisfied: pymysql in c:\users\rayon\anaconda3\lib\site-packages (1.1.1)
Note: you may need to restart the kernel to use updated packages.

In [11]:
import pandas as pd
import sqlalchemy 
import pymysql
from sqlalchemy import create_engine

In [12]:
df = pd.read_excel(".\Retail_Store_Data.xlsx")

In [13]:
# Understanding DataSet
df.shape

(8047, 17)

In [14]:
df.columns

Index(['Order ID', 'Order Date', 'Customer Name', 'Country', 'State', 'City',
       'Region', 'Segment', 'Ship Mode', 'Category', 'Sub-Category',
       'Product Name', 'Discount', 'Sales', 'Profit', 'Quantity', 'Feedback?'],
      dtype='object')

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8047 entries, 0 to 8046
Data columns (total 17 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Order ID       8047 non-null   object
 1   Order Date     8047 non-null   datetime64[ns]
 2   Customer Name  8047 non-null   object
 3   Country        8047 non-null   object
 4   State          8047 non-null   object
 5   City           8047 non-null   object
 6   Region         8047 non-null   object
 7   Segment        8047 non-null   object
 8   Ship Mode      8047 non-null   object
 9   Category       8047 non-null   object
 10  Sub-Category   8047 non-null   object
 11  Product Name   8047 non-null   object
 12  Discount       8047 non-null   float64
 13  Sales          8047 non-null   int64
 14  Profit         8047 non-null   int64
 15  Quantity       8047 non-null   int64
 16  Feedback?      8047 non-null   bool
dtypes: bool(1), datetime64[ns](1), float64(1), int64(3), object(11)
memory usage: 1013.9+ KB

In [16]:
df.head()

,Order ID,Order Date,Customer Name,Country,State,City,Region,Segment,Ship Mode,Category,Sub-Category,Product Name,Discount,Sales,Profit,Quantity,Feedback?
0,BN-2011-7407039,2011-01-01,Ruby Patel,Sweden,Stockholm,Stockholm,North,Home Office,Economy Plus,Office Supplies,Paper,"Enermax Note Cards, Premium",0.5,45,-26,3,False
1,AZ-2011-9050313,2011-01-03,Summer Hayward,United Kingdom,England,Southport,North,Consumer,Economy,Furniture,Bookcases,"Dania Corner Shelving, Traditional",0.0,854,290,7,True
2,AZ-2011-6674300,2011-01-04,Devin Huddleston,France,Auvergne-Rhône-Alpes,Valence,Central,Consumer,Economy,Office Supplies,Art,"Binney & Smith Sketch Pad, Easy-Erase",0.0,140,21,3,True
3,BN-2011-2819714,2011-01-04,Mary Parker,United Kingdom,England,Birmingham,North,Corporate,Economy,Office Supplies,Art,"Boston Markers, Easy-Erase",0.5,27,-22,2,True
4,BN-2011-2819714,2011-01-04,Mary Parker,United Kingdom,England,Birmingham,North,Corporate,Economy,Office Supplies,Storage,"Eldon Folders, Single Width",0.5,17,-1,2,True

In [17]:
df.describe()

,Order Date,Discount,Sales,Profit,Quantity
count,8047,8047.000000,8047.000000,8047.000000,8047.000000
mean,2013-04-19 12:25:40.748104704,0.110047,291.845657,35.198211,3.772089
min,2011-01-01 00:00:00,0.000000,3.000000,-3060.000000,1.000000
25%,2012-06-08 00:00:00,0.000000,48.000000,1.000000,2.000000
50%,2013-06-11 00:00:00,0.000000,117.000000,14.000000,3.000000
75%,2014-04-30 00:00:00,0.100000,313.000000,47.000000,5.000000
max,2014-12-31 00:00:00,0.850000,6517.000000,2476.000000,14.000000
std,NaN,0.181773,485.212156,178.125844,2.203369

##### The data set has 8047R * 17C. The datatypes of the fields or dimnesions is mostly Objects with floats.

#### There is numerical data,Geographical data, Categorical Product Data which makes the dataset suitable for Descriptive statistical analysis, trend analysis over time, Geographical drill down, Relationship analysis (discount to feedback, profit - sales in region, product profit by catergory, geography)

In [18]:
df.isnull().sum()
## no nullvalues are found, clean dataset

Order ID         0
Order Date       0
Customer Name    0
Country          0
State            0
City             0
Region           0
Segment          0
Ship Mode        0
Category         0
Sub-Category     0
Product Name     0
Discount         0
Sales            0
Profit           0
Quantity         0
Feedback?        0
dtype: int64

In [19]:
df.nunique()

Order ID         4117
Order Date       1214
Customer Name     792
Country            15
State             127
City              999
Region              3
Segment             3
Ship Mode           4
Category            3
Sub-Category       17
Product Name     1810
Discount           14
Sales            1248
Profit            845
Quantity           14
Feedback?           2
dtype: int64

In [21]:
df.Region.value_counts()

Region
Central    4426
North      1811
South      1810
Name: count, dtype: int64

In [22]:
df.columns = df.columns.str.lower()
df.columns = df.columns.str.replace(' ', '_')

In [23]:
df = df.drop_duplicates()

In [24]:
df['order_id'].duplicated().sum()

3928

In [25]:
df['order_id'].unique()

array(['BN-2011-7407039', 'AZ-2011-9050313', 'AZ-2011-6674300', ...,
       'AZ-2014-7604524', 'AZ-2014-766953', 'BN-2014-4140795'],
      dtype=object)

In [26]:
print(df[df['sales'] < 0])

Empty DataFrame
Columns: [order_id, order_date, customer_name, country, state, city, region, segment, ship_mode, category, sub-category, product_name, discount, sales, profit, quantity, feedback?]
Index: []

In [27]:
print(df[df['discount'] > 1])

Empty DataFrame
Columns: [order_id, order_date, customer_name, country, state, city, region, segment, ship_mode, category, sub-category, product_name, discount, sales, profit, quantity, feedback?]
Index: []

In [28]:
print(df['profit'].describe())

count    8045.000000
mean       35.202237
std       178.147747
min     -3060.000000
25%         1.000000
50%        14.000000
75%        47.000000
max      2476.000000
Name: profit, dtype: float64

In [29]:
df.columns

Index(['order_id', 'order_date', 'customer_name', 'country', 'state', 'city',
       'region', 'segment', 'ship_mode', 'category', 'sub-category',
       'product_name', 'discount', 'sales', 'profit', 'quantity', 'feedback?'],
      dtype='object')

In [30]:
# the data is now cleaned, we now head onto the preparation & tranformation of the data to derive insights. 
# It can be considered complete data as it has the necessary numerical, categorical, datetime, geographical data 
# data preparation/tranformation involves in changing the data to make it consistent, valid and accurate across data systems.
# i,e dropping the duplicates two reduce redundancy. two records have been dropped. Unique values remain
# possible tranformation for this dataset - split columns for year, month to perform trend analysis overtime

In [31]:
df['year'] = df['order_date'].dt.year
df['month'] = df['order_date'].dt.month

C:\Users\rayon\AppData\Local\Temp/ipykernel_6436/1714124296.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['year'] = df['order_date'].dt.year
C:\Users\rayon\AppData\Local\Temp/ipykernel_6436/1714124296.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['month'] = df['order_date'].dt.month

In [32]:
df

,order_id,order_date,customer_name,country,state,city,region,segment,ship_mode,category,sub-category,product_name,discount,sales,profit,quantity,feedback?,year,month
0,BN-2011-7407039,2011-01-01,Ruby Patel,Sweden,Stockholm,Stockholm,North,Home Office,Economy Plus,Office Supplies,Paper,"Enermax Note Cards, Premium",0.5,45,-26,3,False,2011,1
1,AZ-2011-9050313,2011-01-03,Summer Hayward,United Kingdom,England,Southport,North,Consumer,Economy,Furniture,Bookcases,"Dania Corner Shelving, Traditional",0.0,854,290,7,True,2011,1
2,AZ-2011-6674300,2011-01-04,Devin Huddleston,France,Auvergne-Rhône-Alpes,Valence,Central,Consumer,Economy,Office Supplies,Art,"Binney & Smith Sketch Pad, Easy-Erase",0.0,140,21,3,True,2011,1
3,BN-2011-2819714,2011-01-04,Mary Parker,United Kingdom,England,Birmingham,North,Corporate,Economy,Office Supplies,Art,"Boston Markers, Easy-Erase",0.5,27,-22,2,True,2011,1
4,BN-2011-2819714,2011-01-04,Mary Parker,United Kingdom,England,Birmingham,North,Corporate,Economy,Office Supplies,Storage,"Eldon Folders, Single Width",0.5,17,-1,2,True,2011,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8042,AZ-2014-766953,2014-12-31,Jose Gambino,United Kingdom,England,Maidenhead,North,Corporate,Economy,Furniture,Bookcases,"Ikea Stackable Bookrack, Traditional",0.0,245,91,2,True,2014,12
8043,BN-2014-4140795,2014-12-31,Daniel Hamilton,Netherlands,North Brabant,Eindhoven,Central,Home Office,Economy Plus,Office Supplies,Art,"BIC Pencil Sharpener, Fluorescent",0.5,30,-10,2,False,2014,12
8044,BN-2014-4140795,2014-12-31,Daniel Hamilton,Netherlands,North Brabant,Eindhoven,Central,Home Office,Economy Plus,Office Supplies,Binders,"Avery Binder Covers, Recycled",0.5,23,-6,4,True,2014,12
8045,BN-2014-4140795,2014-12-31,Daniel Hamilton,Netherlands,North Brabant,Eindhoven,Central,Home Office,Economy Plus,Technology,Machines,"StarTech Phone, Red",0.5,108,-19,3,False,2014,12
8046,AZ-2014-766953,2014-12-31,Jose Gambino,United Kingdom,England,Maidenhead,North,Corporate,Economy,Technology,Phones,"Motorola Audio Dock, VoIP",0.0,867,251,5,False,2014,12

In [39]:
sql_engine = create_engine('mysql+pymysql://root:Rayone@localhost:3306/cleaned_orders')

In [34]:
print(type(sql_engine))

<class 'sqlalchemy.engine.base.Engine'>

In [41]:
# Use either 'engine' or 'sql_engine' (they are the same)
df.to_sql(
    name='order_data',          # Table name in MySQL
    con=sql_engine,             # or con=sql_engine
    if_exists='append',     # append to existing table (or 'replace' if you want to overwrite)
    index=False,            # don't write row numbers as a column
    chunksize=9000          # optional: batches of 1000 rows for easy processing
)

8045

In [35]:
%whos

Variable        Type         Data/Info
--------------------------------------
create_engine   function     <function create_engine at 0x0000021283FAE3A0>
df              DataFrame                 order_id ord<...>n[8045 rows x 19 columns]
pd              module       <module 'pandas' from 'C:<...>es\\pandas\\__init__.py'>
pymysql         module       <module 'pymysql' from 'C<...>s\\pymysql\\__init__.py'>
sql_engine      Engine       Engine(mysql+pymysql://ro<...>host:3306/cleaned_orders)
sqlalchemy      module       <module 'sqlalchemy' from<...>sqlalchemy\\__init__.py'>